.navbuttons {
	position: absolute;
	bottom: 2rem;
	display: flex;
	gap: 1rem;
}

.button__events,
.button__tickets {
	width: 100px;
	padding: .5rem;
	font-family: 'FiraSans';
	border: none;
	color: #ffffff;
	font-size: 16px;
	transition: transform 0.2s, background-color 0.2s;
}

.button__events {
	background-color: var(--blue-color);
}

.button__tickets {
	background-color: #231F42;
	border: 1px solid white;
}

.button__events:hover,
.button__tickets:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.button__events:active,
.button__tickets:active {
	transform: scale(0.95);
}