* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color-gradient: linear-gradient(135deg, #2a254f 0%, #231F42 100%);
  --background-color-tickets: linear-gradient(135deg, #F56B9A 0%, #231F42 100%);

  --font-color-main: #F56B9A;
  --blue-color: #37AEAB;

  --font-size-title: 32px;
}

@font-face {
  font-family: 'SansitaOne';
  src: url('./assets/fonts/SansitaOne.ttf');
}

@font-face {
  font-family: 'FiraSans';
  src: url('./assets/fonts/FiraSans.ttf');
}

@font-face {
  font-family: 'FiraSans-Light';
  src: url('./assets/fonts/FiraSans-Light.ttf');
}

@font-face {
  font-family: 'LibreBarcode';
  src: url('./assets/fonts/LibreBarcode128.ttf');
}